.main {
  .wrap {
    .heading-step {
      padding: 30px;
      background-color: #fff;
      border-radius: 10px;
    }
    .btn {
      display: flex;
      margin-top: 20px;
      justify-content: center;
    }
    .content {
      margin-top: 20px;
    }
  }
}
