.input {
  display: flex;
  flex-direction: column;
  .input-w {
    height: 20px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #fff;
    border: none;
    transition: all 0.3s;
    &:focus {
      border-color: var(--main-color);
      border-right-width: 1px;
      outline: 0;
    }
  }
}
